body { 
	margin: 0; 
	background-color: 252526;
}

#page1 {
	display: block;
	margin: 0 auto;
	background-image: linear-gradient( rgba(64,8,152,.4), rgba(64,8,152,.4) ), url('../img/l1.jpg');
	background-size: 100%;
	width: auto;
	height: auto;
	cursor:  crosshair;
	cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/circular-cursor.png) 53 53, crosshair;
}

#page2 {
	display: block;
	margin: 0 auto;
	background-image: linear-gradient( rgba(64,8,152,.4), rgba(64,8,152,.4) ), url('../img/l2.jpg');
	background-size: 100%;
	width: auto;
	height: auto;
	cursor:  crosshair;
	cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/circular-cursor.png) 53 53, crosshair;
}

#page3 {
	display: block;
	margin: 0 auto;
	background-image: linear-gradient( rgba(64,8,152,.4), rgba(64,8,152,.4) ), url('../img/l3.jpg');
	background-size: 100%;
	width: auto;
	height: auto;
	cursor:  crosshair;
	cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/circular-cursor.png) 53 53, crosshair;
}

#page4 {
	display: block;
	margin: 0 auto;
	background-image: linear-gradient( rgba(64,8,152,.4), rgba(64,8,152,.4) ), url('../img/l4.jpg');
	background-size: 100%;
	width: auto;
	height: auto;
	cursor:  crosshair;
	cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/circular-cursor.png) 53 53, crosshair;
}

#page5 {
	display: block;
	margin: 0 auto;
	background-image: linear-gradient( rgba(64,8,152,.4), rgba(64,8,152,.4) ), url('../img/l5.jpg');
	background-size: 100%;
	width: auto;
	height: auto;
	cursor:  crosshair;
	cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/circular-cursor.png) 53 53, crosshair;
}

#page6 {
	display: block;
	margin: 0 auto;
	background-image: linear-gradient( rgba(64,8,152,.4), rgba(64,8,152,.4) ), url('../img/l6-h.jpg');
	background-size: 100%;
	width: auto;
	height: auto;
	cursor:  crosshair;
	cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/circular-cursor.png) 53 53, crosshair;
}

#page7 {
	display: block;
	margin: 0 auto;
	background-image: linear-gradient( rgba(64,8,152,.4), rgba(64,8,152,.4) ), url('../img/l7-h.jpg');
	background-size: 100%;
	width: auto;
	height: auto;
	cursor:  crosshair;
	cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/circular-cursor.png) 53 53, crosshair;
}

#page8 {
	display: block;
	margin: 0 auto;
	background-image: linear-gradient( rgba(64,8,152,.4), rgba(64,8,152,.4) ), url('../img/l8.jpg');
	background-size: 100%;
	width: auto;
	height: auto;
	cursor:  crosshair;
	cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/circular-cursor.png) 53 53, crosshair;
}

#page9 {
	display: block;
	margin: 0 auto;
	background-image: linear-gradient( rgba(64,8,152,.4), rgba(64,8,152,.4) ), url('../img/l9.jpg');
	background-size: 100%;
	width: auto;
	height: auto;
	cursor:  crosshair;
	cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/circular-cursor.png) 53 53, crosshair;
}

#page10 {
	display: block;
	margin: 0 auto;
	background-image: linear-gradient( rgba(64,8,152,.4), rgba(64,8,152,.4) ), url('../img/l10.jpg');
	background-size: 100%;
	width: auto;
	height: auto;
	cursor:  crosshair;
	cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/circular-cursor.png) 53 53, crosshair;
}

#page11 {
	display: block;
	margin: 0 auto;
	background-image: linear-gradient( rgba(64,8,152,.4), rgba(64,8,152,.4) ), url('../img/l11.jpg');
	background-size: 100%;
	width: auto;
	height: auto;
	cursor:  crosshair;
	cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/circular-cursor.png) 53 53, crosshair;
}

#page12 {
	display: block;
	margin: 0 auto;
	background-image: linear-gradient( rgba(64,8,152,.4), rgba(64,8,152,.4) ), url('../img/l12-h.jpg');
	background-size: 100%;
	width: auto;
	height: auto;
	cursor:  crosshair;
	cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/circular-cursor.png) 53 53, crosshair;
}

#page13 {
	display: block;
	margin: 0 auto;
	background-image: linear-gradient( rgba(64,8,152,.4), rgba(64,8,152,.4) ), url('../img/l13.jpg');
	background-size: 100%;
	width: auto;
	height: auto;
	cursor:  crosshair;
	cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/circular-cursor.png) 53 53, crosshair;
}

#docContainer { 
  text-align: center;
  font-family: Avenir, sans-serif;
}
/* #bridgeContainer figcaption {   
  margin-top: 2rem; 
} */