body { 
	margin: 0; 
	background-color: #252526;
}

#page1 {
	background-image: linear-gradient( rgba(64,8,152,.4), rgba(64,8,152,.4) ), url('../img/h1-h.jpg')!important;
}

#page2 {
	background-image: linear-gradient( rgba(64,8,152,.4), rgba(64,8,152,.4) ), url('../img/h2-h.jpg')!important;
}

#docContainer { 
  text-align: center;
  font-family: Avenir, sans-serif;
}