body { 
	margin: 0; 
	background-color: #252526;
}

#page1 {
	background-image: linear-gradient( rgba(64,8,152,.4), rgba(64,8,152,.4) ), url('../img/d1-h.jpg') !important;
}

#docContainer { 
  text-align: center;
  font-family: Avenir, sans-serif;
}