body { 
	margin: 0; 
	background-color: #252526;
}

#page6 {
	background-image: linear-gradient( rgba(64,8,152,.4), rgba(64,8,152,.4) ), url('../img/l6-h.jpg') !important;
}

#page7 {
	background-image: linear-gradient( rgba(64,8,152,.4), rgba(64,8,152,.4) ), url('../img/l7-h.jpg') !important;
}

#page12 {
	background-image: linear-gradient( rgba(64,8,152,.4), rgba(64,8,152,.4) ), url('../img/l12-h.jpg') !important;
}

#docContainer { 
  text-align: center;
  font-family: Avenir, sans-serif;
}